body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #nav {
  display: none;
}

.topnav a {
  color: white;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.icon {
  text-align: center;
}
#nav a {
  text-align: center;
}
#title{
  text-align: center;
}
#content h2 {
  text-align: center;
  border-bottom: 2px black solid;
}
#inventoryWatch {
  display: flex;
  border: 2px black solid;
  padding: 15px;
  margin-bottom: 15px;
}
#inventoryWatch img {
  padding-right: 8px;
}