/* Structure */
#main-header {
    background-color: blueviolet;
    color: aliceblue;
    
}

#main-nav a {
    background-color: grey;
    text-align: center;
}


/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
    color: blanchedalmond;
}
