#main-header {
    background-color: blueviolet;    
}

#main-nav a {
    text-align: center;
    color :black;
    text-decoration: none;
}

#main-nav li {
    list-style-type: none;
    background-color: blanchedalmond;
    border-bottom: 2px solid gray;
    text-align: center;
}

#main-nav ul {
    padding-left: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
    color: blanchedalmond;
}

#ideas{
    background-color: blanchedalmond;
    border: 3px solid blueviolet;
}
#links{
    background-color: blanchedalmond;
    border: 3px solid blueviolet;
}

#links ul{
    padding-left: 15px;
}

#ideas ul {
    list-style-type: none;
}
#ideas ul{
    padding-left: 5px;
}

#title {
    background-color: cyan;
    border: 3px solid blueviolet;
    text-align: center;

}

#title ul {
    list-style-type: none;
}

#main-info2 ul {
    padding-left: 0px;
}




@media screen and (min-width: 900px) {
    #main-nav ul{
        display: flex;
    }
    #main-nav li{
        flex: 1;
        border: none;
    }
    #main-info{
        display: flex;
    }
    #links{
        flex: 1;
        border-right: 0;

    }
    #ideas {
        flex: 4
    }
    
    #ideasideas{
        display: flex;
    }
    #title ul{
        display: flex;
    }
    #titlestitle{
        flex: 1;
    }
    #title{
        border-top: 0.01px solid blueviolet;
    }

  }
  @media screen and (max-width: 900px) {
    #ideas{
        background-color: blanchedalmond;
        border-top: 0.01px solid blueviolet;
    }
    #ideasideas img{
        display: block;
        margin: 0 auto;
    }
    #title {
        text-align: center;
        border-top: 0.01px solid blueviolet;
    }
    
  }